.todo-item-content {
  display: absolute;
  top: 0;
  left: 0;
  width: auto;
  float: left;
  font-size: .5rem;
  padding: .3rem;
  border-radius: .2rem;
}

.completed {
  background: lightgreen;
  box-shadow: 0px 0px 3px 1px #98e884;
}

.grayout {
  background: lightgray;
  box-shadow: 0px 0px 3px 1px lightgray;
}

.card {
  height: 6rem;
  box-shadow: 0 0 10px lightgray;
  border: lightgray;
}

.red-color {
  color: lightcoral;
}

.blue-color {
  color: lightskyblue;
}

.green-color {
  color: darkcyan;
}

.edit-input {
  border: none;
  border-bottom: solid thin lightgray;
  padding: 0;
  width: 100%;
}